// colors
$color-primary: #403f3d;
$color-main: #e1d4c9;
$color-accent: #b0907a;
$color-Inverse: #665f55;
$color-border: #c1b6ad;
$color-dark-bg-page: #292826;

//paddings
$padding-section: 0 40px;
$padding-100: 100px;
$padding-button: 20px 78px;

//margins
$margin-center: 0 auto;
$margin-top: 20px;
$margin-right-hero: 530px;
$margin-bottom-section: 100px;

//border-radius
$border-radius-button: 100px;
$border-radius-40: 40px;

//widths
$max-width-530: 530px;
$max-width-480: 480px;

// heights
$height-header: 60px;

// //media
// $tablet: 768px;
// $mobile: 320px;

// //overflow
// $overflow: hidden;
