// colors
$color-primary: #403f3d;
$color-main: #e1d4c9;
$color-accent: #b0907a;
$color-Inverse: #665f55;
$color-border: #c1b6ad;
$color-dark-bg-page: #292826;

//paddings
$padding-header-menu: 0 40px;

//margins
$margin-center: 0 auto;
$margin-top-header: 20px;

// //border-radius
// $border-radius-button: 100px;
// $border-radius-donation: 9px;

// //widths
// $max-width-1200: 1200px;
// $max-width-708: 708px;
// $max-width-300: 300px;
// $max-width-280: 280px;

// heights
$height-header: 60px;

// //media
// $tablet: 768px;
// $mobile: 320px;

// //overflow
// $overflow: hidden;
