@charset "UTF-8";
/* 1. Убираем внешние и внутренние отступы, задаем border-box всем элементам */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Базовые настройки для документа */
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 3. Наследуем шрифты и свойства для элементов форм */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

/* 4. Списки без маркеров */
ul,
ol {
  list-style: none;
}

/* 5. Убираем подчеркивания у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. Медиа-элементы адаптивны */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Настройки таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 8. Кнопки сбрасывают дефолтный вид */
button {
  cursor: pointer;
  border: none;
  background: none;
}

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("ttf");
}
.header {
  margin: 20px auto;
}
.header .header-menu {
  max-height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}
.header .header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.header .header__list .header__item {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}
.header .header__list .header__item::first-letter {
  text-transform: capitalize;
}
.header .header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.header .header-actions .header-theme {
  margin: 4px;
  padding: 7px;
}
.header .header-actions .theme__dark {
  padding: 9px;
}
.header .coffee-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.header .coffee-menu .coffee-menu__text {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}
.header .coffee-menu .coffee-menu__text::first-letter {
  text-transform: capitalize;
}

.main {
  margin: 0 auto;
}

.section {
  padding: 0 40px;
  margin-bottom: 100px;
}

.color-word {
  color: #b0907a;
  font-style: italic;
}

.hero-container {
  background: url(/img/header/img-hero.jpg);
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  padding: 100px;
}
.hero-container .hero-offer {
  margin-right: 530px;
  max-width: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.hero-container .hero-offer .hero-offer__title {
  font-family: inter, sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
}
.hero-container .hero-offer .hero-offer__title::first-letter {
  text-transform: capitalize;
}
.hero-container .hero-offer .hero-offer__description {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #e1d4c9;
}
.hero-container .hero-offer .hero-offer__description::first-letter {
  text-transform: capitalize;
}
.hero-container .hero-offer .hero-offer__button {
  margin-right: auto;
  padding: 20px 78px;
  background-color: #e1d4c9;
  border-radius: 100px;
  position: relative;
  text-decoration: none;
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}
.hero-container .hero-offer .hero-offer__button::first-letter {
  text-transform: capitalize;
}
.hero-container .hero-offer .hero-offer__button::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
  background: url(/img/header/coffee-cup.svg) no-repeat center;
  background-size: contain;
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.hero-container .hero-offer .hero-offer__button:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.favorite-coffee-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}
.favorite-coffee-container .favorite-coffee__title {
  font-family: inter, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.favorite-coffee-container .favorite-coffee__title::first-letter {
  text-transform: capitalize;
}
.favorite-coffee-container .favorite-coffee__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}
.favorite-coffee-container .favorite-coffee__slider .favorite-coffee__slider--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.favorite-coffee-container .favorite-coffee__slider .favorite-coffee__slider--content .favorite-coffee__slider--description {
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
.favorite-coffee-container .favorite-coffee__slider .favorite-coffee__slider--content .favorite-coffee__slider--description .favorite-coffee__slider--description--title {
  font-family: inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.favorite-coffee-container .favorite-coffee__slider .favorite-coffee__slider--content .favorite-coffee__slider--description .favorite-coffee__slider--description--title::first-letter {
  text-transform: capitalize;
}
.favorite-coffee-container .favorite-coffee__slider .favorite-coffee__slider--content .favorite-coffee__slider--description .favorite-coffee__slider--description--text {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #403f3d;
}
.favorite-coffee-container .favorite-coffee__slider .favorite-coffee__slider--content .favorite-coffee__slider--description .favorite-coffee__slider--description--text::first-letter {
  text-transform: capitalize;
}
.favorite-coffee-container .favorite-coffee__slider .favorite-coffee__slider--content .favorite-coffee__slider--description .favorite-coffee__slider--description--price {
  font-family: inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.about .about__title {
  font-family: inter, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  color: #403f3d;
}
.about .about__title::first-letter {
  text-transform: capitalize;
}
.mobile-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}
.mobile-app-container .mobile-app-container__offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 630px;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--title {
  font-family: inter, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--title::first-letter {
  text-transform: capitalize;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--text {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #403f3d;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--text::first-letter {
  text-transform: capitalize;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .mobile-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  min-width: 200px;
  padding: 12px 20px;
  border: 2px solid #665f55;
  border-radius: 100px;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-app-store__description {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2px;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-app-store__description .button-app-store--title {
  font-family: inter, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
  color: #403f3d;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-app-store__description .button-app-store--title::first-letter {
  text-transform: capitalize;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-app-store__description .button-app-store--text {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-app-store__description .button-app-store--text::first-letter {
  text-transform: capitalize;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-google-play__description {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2px;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-google-play__description .button-google-play--title {
  font-family: inter, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
  color: #403f3d;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-google-play__description .button-google-play--title::first-letter {
  text-transform: capitalize;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-google-play__description .button-google-play--text {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}
.mobile-app-container .mobile-app-container__offer .mobile-app-container__offer--buttons .button-google-play__description .button-google-play--text::first-letter {
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
}/*# sourceMappingURL=style.css.map */